doctype html
html(lang='en')
  head
    title App for Google log
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    include ./header.pug
    include ./next-container.pug
    include ./footer.pug
